html {
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #70bg32;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, white, green);
    background: -moz-linear-gradient( to left top, white, green);
    background: -ms-linear-gradient( to left top, white, green);
    background: -o-linear-gradient( to left top, white, green);
    background: linear-gradient( to left top, white, green);
}
